[buildout]
parts =
    apacheconf
    production.py
    my.cnf
    mkdir
    django

eggs =
    PIL
    South
    django
    django-annoying

extra-paths =

allowed-eggs-from-site-packages =
    PIL
    setuptools
    distribute

extensions = mr.developer
sources = sources
sources-dir = parts
auto-checkout = *

versions = versions

servername = www.myproject.com
serveradmin = admin@myproject.com

[sources]
# my.package = svn http://example.com/svn/my.package/trunk
# some.other.package = git git://example.com/git/some.other.package.git
# bzr.package = bzr bzr+ssh://bazaar.launchpad.net/~user/project/branch/

[versions]
django = 1.3

[django]
recipe = djangorecipe
project = project
settings = production
eggs = ${buildout:eggs}
extra-paths = ${buildout:extra-paths}
wsgi = true
wsgilog = ${buildout:directory}/var/log/wsgi.log

[mkdir]
recipe = z3c.recipe.mkdir
paths =
    ${buildout:directory}/var/htdocs/static
    ${buildout:directory}/var/log

[apacheconf]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/apache.conf.in
output = ${buildout:directory}/etc/apache.conf

[production.py]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/production.py.in
output = ${buildout:directory}/etc/production.py

[my.cnf]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/my.cnf.in
output = ${buildout:directory}/etc/my.cnf

